.ez-button {
    padding: .85rem 1.75rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    letter-spacing: .5px;
    border: 1px solid #757575;
    background-color: #757575;
    color: #fff;
    font-size: 1em;
}

.ez-button:hover:not([disabled]) {
    border: 1px solid #5c5c5c;
    background-color: #5c5c5c;
}

.ez-button:focus,
.ez-button:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-button[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .3;
}

.ez-button-primary {
    font-weight: bold;
    border: 1px solid #f15a10;
    background-color: #f15a10;
}

.ez-button-primary:hover:not([disabled]) {
    border: 1px solid #c3480b;
    background-color: #c3480b;
}

.ez-button-primary:focus,
.ez-button-primary:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-button-secondary {
    font-weight: bold;
    border: 1px solid #0f6d95;
    background-color: #0f6d95;
}

.ez-button-secondary:hover:not([disabled]) {
    border: 1px solid #0a4b67;
    background-color: #0a4b67;
}

.ez-button-secondary:focus,
.ez-button-secondary:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-button-neutral {
    border: 1px solid #757575;
    background-color: #757575;
    font-weight: normal;
}

.ez-button-neutral:hover:not([disabled]) {
    border: 1px solid #5c5c5c;
    background-color: #5c5c5c;
}

.ez-button-neutral:focus,
.ez-button-neutral:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-button-negative {
    font-weight: bold;
    border: 1px solid #cb2540;
    background-color: #cb2540;
}

.ez-button-negative:hover:not([disabled]) {
    border: 1px solid #a01d32;
    background-color: #a01d32;
}

.ez-button-negative:focus,
.ez-button-negative:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-button-ghost {
    font-weight: bold;
    border: 2px solid #0f6d95;
    background-color: transparent;
    color: #0f6d95;
}

.ez-button-ghost:hover:not([disabled]) {
    border: 2px solid #0a4b67;
    background-color: #0a4b67;
    color: #fff;
}

.ez-button-ghost:focus,
.ez-button-ghost:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-button [class^="ez-icon-"] {
    padding-right: 10px;
    font-size: 1.5em;
    line-height: .5em;
    vertical-align: -40%;
}

/* ez action buttons */
.ez-action {
    width: 115px;
    height: 4.5em;
    background: transparent;
    border: none;
    cursor: pointer;
}

.ez-action-negative {
    border-top: 1px solid #0d6e96;
    border-bottom: 1px solid #0d6e96;
}

.ez-action[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .3;
}

.ez-action-iconwrapper {
    margin: 0;
    text-align: center;
}

.ez-action-icon {
    margin: 0;
    color: #fff;
    font-size: 1.5em;
    padding: .25em 1em .25em 1em;
    text-align: center;
}

.ez-action-label {
    margin: -.2em .2em .25em -.1em;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
}

.ez-action-translations {
    height: 5.5em;
}

.ez-action-label-translation {
    margin: -.2em .2em .15em .2em;
    font-size: 0.6em;
    color: #e2db6e;
}

.ez-action-discoverybar {
    background-color: #565E63;
}

.ez-action-discoverybar:hover:not([disabled]) {
    background-color: #3e4448;
}

.ez-action-discoverybar:focus,
.ez-action-discoverybar:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-action-actionbar {
    background-color: #0a5574;
}

.ez-action-actionbar:hover:not([disabled]) {
    background-color: #063345;
}

.ez-action-actionbar:focus,
.ez-action-actionbar:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-action-preview {
    height: 5em;
    cursor: auto;
    background-color: #0a5574;
}

.preview-box {
    margin-left: 25%;
}

.ez-action-iconwrapper-preview {
    margin: .25em 0;
    padding: .2em .1em;
    width: 65%;
    height: 40px;
    border-radius: 4px;
    background-color: #0e77a3;
    cursor: pointer;
}

.ez-action-iconwrapper-preview:hover {
    background-color: #fff;
}

.ez-action-iconwrapper-preview:hover .ez-action-icon-preview {
    color: #0A5574;
}

.ez-action-iconwrapper-preview:focus,
.ez-action-iconwrapper-preview:active {
    box-shadow: 0 0 4px 2px #2b84b1;
}

.ez-action-icon-preview {
    padding: .075em 0;
    font-size: 1.65em;
}

.ez-action-label-preview {
    margin: -.2em .2em;
}
