.ez-table {
    width: 100%;
}

.ez-table .table-title {
    display: inline-table;
    height: 50px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    background-color: #a8c8d5;
    font-size: 1em;
    font-weight: bold;
    line-height: 50px;
}

.ez-table .table-title p {
    margin: 0;
    padding: 0 0 0 22px;
    font-size: 1.1em;
}

.ez-table .table-container table {
    width: 100%;
    border-collapse: collapse;
}

.ez-table table tr {
    background-color: #fdfdfd;
    font-size: .95em;
    line-height: 40px;
    text-align: left;
}

.ez-table table th,
.ez-table table td {
    padding: 0 0 0 22px;
}

.ez-table table tr {
    border-bottom: 1px solid #a8c8d5;
}

.ez-table table tr:last-of-type {
    border-bottom: transparent;
}

.ez-table a {
    color: #0645ad;
    text-decoration: none;
}

.ez-table a:hover {
    text-decoration: none;
}

.ez-table-checkboxes th:nth-child(2),
.ez-table-checkboxes td:nth-child(2) {
    padding: 0;
}

.ez-table-checkboxes .table-title .container-buttons {
    display: block;
    float: right;
    margin-top: -50px;
}

.ez-table-checkboxes .table-title .container-buttons button {
    height: 35px;
    margin-right: 10px;
    padding: 0px 12px;
    font-size: .9em;
    font-weight: normal;
    line-height: 10px;
}

.ez-table-checkboxes .table-title .container-buttons .ez-button [class^="ez-icon-"] {
    vertical-align: -30%;
}

.ez-table-checkboxes .table-title .container-buttons button:last-of-type {
    margin-right: 22px;
}

.ez-table-checkboxes .ez-form-clickable {
    display: inline-block;
    width: 0;
    margin: 0;
    vertical-align: 10%;
}

.ez-table-checkboxes td:last-of-type {
    padding-right: 22px;
    text-align: right;
}

.ez-table-checkboxes .table-iconbutton {
    display: inline-block;
    float: right;
    margin: 2px 0 3px 0;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 46px;
    font-size: 1.5em;
    cursor: pointer;
}

.ez-table-checkboxes .table-iconbutton .table-iconbutton-edit {
    color: #f15a10;
}

.ez-table-checkboxes .table-iconbutton:hover {
    color: #fff;
}

.ez-table-checkboxes .table-iconbutton:hover .table-iconbutton-edit {
    border-radius: 4px;
    background-color: #f15a10;
    color: #fff;
}

.ez-table-subitems .table-title-subitems {
    background-color: #445a64;
    color: #fff;
}

.ez-table-subitems tr {
    border-bottom: 1px solid #a8c8d5;
    background-color: #f5f5f5;
}

.ez-table-subitems .container-buttons-switcher {
    float: right;
    margin-top: -50px;
    margin-right: 22px;
}

.ez-table-subitems .container-buttons-switcher .switch-field {
    height: 34px;
    width: 72px;
    margin-top: 4px;
    border: 3px solid #0e77a3;
    border-radius: 6px;
}

.ez-table-subitems .container-buttons-switcher input[type=radio]:checked + label:before {
    display: none;
}

.ez-table-subitems .container-buttons-switcher input[type=radio] + label:before {
    display: none;
}

.ez-table-subitems .container-buttons-switcher .switch-field input {
    position: absolute;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.ez-table-subitems .container-buttons-switcher .switch-field label {
    display: inline-block;
    float: left;
    height: 30px;
    width: 10px;
    border: 2px solid #fff;
    padding-left: 6px;
    padding-right: 16px;
    background-color: #fff;
    color: #0e77a3;
    font-size: 1.2em;
    line-height: 32px;
    transition: all 0.1s ease-in-out;
}

.ez-table-subitems .container-buttons-switcher .switch-field label:hover {
    cursor: pointer;
}

.ez-table-subitems .container-buttons-switcher .switch-field input:checked + label {
    height: 30px;
    width: 10px;
    border: 2px solid #fff;
    padding-left: 6px;
    padding-right: 16px;
    background-color: #0e77a3;
    color: #fff;
    font-size: 1.2em;
    line-height: 32px;
}

.ez-table-subitems .container-buttons-switcher .switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.ez-table-subitems .container-buttons-switcher .switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}
