.buttons-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 2rem;
}

.buttons-card {
    width: 45%;
    height: 15rem;
    margin: 2rem 2rem 3rem 0rem;
    background-color: #edeced;
    border-radius: 4px;
}

.buttons-card-header {
    padding: 1rem 1rem;
    font-weight: bold;
    font-style: 'Open Sans', Helvetica, Arial, Sans-serif;
}

.buttons-card-content {
    padding: 0 4rem 1.75rem 4rem;
}

/* Buttons */
.ez-button {
    padding: .75rem 2.25rem;
    border-radius: 4px;
    font-family: 'Open Sans', Helvetica, Arial, Sans-serif;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid #f15a10;
    background-color: #f15a10;
    color: #fff;
    font-size: 1.133em;
    font-weight: bold;
}

.ez-button:hover {
    border: 1px solid #c3480b;
    background-color: #c3480b;
}

.ez-button:focus,
.ez-button:active {
    box-shadow: 0px 0px 4px 2px #2b84b1;
}

.ez-button[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .3;
}

.ez-button-secondary {
    border: 1px solid #0f6d95;
    background-color: #0f6d95;
    color: #fff;
    font-size: 1.133em;
    font-weight: bold;
}

.ez-button-secondary:hover {
    border: 1px solid #0a4b67;
    background-color: #0a4b67;
}

.ez-button-secondary:focus,
.ez-button-secondary:active {
    box-shadow: 0px 0px 4px 2px #fcb700;
}

.ez-button-neutral {
    border: 1px solid #757575;
    background-color: #757575;
    color: #fff;
    font-size: 1.133em;
    font-weight: normal;
}

.ez-button-neutral:hover {
    border: 1px solid #5c5c5c;
    background-color: #5c5c5c;
}

.ez-button-neutral:focus,
.ez-button-neutral:active {
    box-shadow: 0px 0px 4px 2px #fcb700;
}

.ez-button-negative {
    border: 1px solid #cb2540;
    background-color: #cb2540;
    color: #fff;
    font-size: 1.133em;
    font-weight: bold;
}

.ez-button-negative:hover {
    border: 1px solid #a01d32;
    background-color: #a01d32;
}

.ez-button-negative:focus,
.ez-button-negative:active {
    box-shadow: 0px 0px 4px 2px #2b84b1;
}

/* prism.css overwrite */
pre {
    border: transparent;
    font-size: 1.5rem;
}

.prism-show-language-label {
    display: none;
}
