@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    position: relative;
}

.font-header {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25em;
}

.regular {
    font-size: 1em;
}

/*=== Navbar ===*/
.navbar {
    height: 4em;
}

.navbar img {
    width: 80px;
    margin-top: -4px;
}

.navbar h2 {
    font-family: 'Maven Pro', sans-serif;
    line-height: .5em;
}

.ui-header {
    position: relative;
    margin-top: -1.4em;
    font-family: 'Maven Pro', sans-serif;
    padding: 2em 0;
    color: #fff;
    background-color: #ff883e;
    background-image: linear-gradient(to bottom,#ff883e 0, #f05a22 100%);
    background-repeat: repeat-x;
}

.header {
    text-shadow: 1px 1px rgba(59,59,59,.5);
    letter-spacing: 1px;
}

.header-text {
    padding: 1em 0 .75em 0;
}

/*=== Right Side NavBar ===*/
.affix {
    top: 20px;
}

.nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav li a {
    font-weight: bold;
    color: #3b3b3b;
}

.nav > .active > a {
    color: #f05a22;
}

.nav .active {
    font-weight: bold;
}

.nav > li .nav {
    margin-top: 0px;
}

.nav .nav {
    display: none;
}

.nav .active .nav {
    display: block;
}

.nav .nav a {
    font-weight: normal;
    font-size: .9em;
    color: #3b3b3b;
}

.nav .nav span {
    margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
    padding-left: 2em;
    border-left: 4px solid #f05a22;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgba(59,59,59,.15);
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
    display: none;
}

.final {
    margin-top: 3em;
}

.nav .back-top {
    margin-left: 1em;
    color: #3b3b3b;
    font-weight: bold;
}

/*=== Content ===*/
.ui-content-style {
    padding: 2em 2em 1em 4em;
}

.content-section {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.sub-section {
    padding: 2em 3em;
}

.modules {
    padding-top: 2em;
}

.principles {
    padding-top: 1em;
}

.text-principles {
    margin-top: -.5em;
}

.module-header {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    text-decoration: underline;
}

.code {
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 1em;
    color: #e94b10;
    background-color: #fce3da;
}

hr {
    margin-top: 0;
    border-top: 1px solid #333;
}

.flex-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 2rem;
}

/* Resources - typography */
.typography-box {
    width: 20%;
    float: left;
    margin: .5em 2em 1em 0;
    border: 1px solid #fce3da;
    border-radius: 8px;
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.letter-sample {
    font-size: 6em;
}

.weight-text {
    font-size: .9em;
}

/* Resources - Colors */
.color-box {
    margin: .75rem 1.5rem 0 0;
}

.color-frame {
    height: 8rem;
    width: 11rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
}

.color-frame-light {
    border: 1px solid #ddd;
}

.color-label {
    margin-top: -.75rem;
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.label-code {
    display: inline-block;
    margin-top: 25%;
}

/* Resources - Icons */
.icon-box {
    margin: .5rem .5rem 0 0;
}

.icon-frame {
    height: 11rem;
    width: 11rem;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.icon-frame-spinner {
    height: 13rem;
    width: 13rem;
}

.icon-label {
    margin-top: -1rem;
    padding: 0 .5rem;
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.icon-label-line {
    line-height: 11px;
    margin-top: -.65rem;
}

/* Components - coding strip */
/* prism.css overwrite */
pre {
    border: transparent;
    font-size: 1.5rem;
}

.prism-show-language-label {
    display: none;
}

:not(pre) > code[class*="language-"], 
pre[class*="language-"] {
    border-radius: 0 0 4px 4px;
}

/* Components - buttons */
.button-wrapper {
    margin: 0 1rem 2rem 0;
}
.button-box {
    width: 100%;
    background-color: #edeced;
    border-radius: 4px 4px 0 0;
}

.button-card-header {
    padding: 1rem 1rem;
    font-weight: bold;
    font-style: 'Open Sans', Helvetica, Arial, Sans-serif;
}

.button-card-content {
    padding: 0 4rem 1.75rem 1rem;
}

.button-code {
    width: 100%;
   margin-top: -1rem;
}

/* Components - Form */
.list-form {
    float: left;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

.list-form li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.ez-form-box {
    display: block;
    height: 5em;
    width: 100%;
    margin-left: 2em;
    margin-bottom: 1.5em;
}

/*==== UTILITIES/HELPERS ====*/
.top-half-extra {
    margin-top: 2em;
}

.top-extra {
    margin-top: 4em;
}

.top-low {
    margin-top: 1.5em;
}

.top-xlow {
    margin-top: 1em;
}

.top-min {
    margin-top: 0.5em;
}

.bottom-extra {
    margin-bottom: 2em;
}

.bottom-half-extra {
    margin-bottom: 1.5em;
}

.u-move-down-xlarge {
    margin-top: 2em;
}

.u-move-left-xlarge {
    margin-left: 2em;
}

.u-move-left {
    margin-left: 1em;
}

.u-move-up-xlarge {
    margin-top: -2em;
}

.u-move-up-xsmall {
    margin-top: -.5em;
}
