@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Quantico);

body {
	position: relative;
}
.font-header {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 700;
}
p {
	font-size: 1.25em;
	font-family: Helvetica, Arial, sans-serif;
}
.regular {
	font-size: 1em;
}

/*=== Navbar ===*/
.navbar {
	height: 4em;
}
.navbar img {
	width: 80px;
	margin-top: -4px;
}
.navbar h2 {
	line-height: .5em;
	font-family: 'Maven Pro', sans-serif;
}
.ui-header {
	font-family: 'Maven Pro', sans-serif;
	position: relative;
	padding: 2em 0;
	background-color: #FF883E;
	color: #fff;
	background-image: linear-gradient(to bottom,#FF883E 0, #F05A22 100%);
	background-repeat: repeat-x;
	margin-top: -1.4em;
}
.header {
	text-shadow: 1px 1px rgba(59,59,59,.5);
	letter-spacing: 1px;
}
.header-text {
	padding: 1em 0 .75em 0;
}

/*=== Right Side NavBar ===*/
.affix {
	top: 20px;
}
.nav {
	margin-top: 20px;
	margin-bottom: 20px;
}
.nav li a {
	font-weight: bold;
	color: #3b3b3b;
}
.nav > .active > a {
	color: #f05a22;
}
.nav .active {
	font-weight: bold;
}
.nav > li .nav {
	margin-top: 0px;
}
.nav .nav {
	display: none;
}
.nav .active .nav {
	display: block;
}
.nav .nav a {
	font-weight: normal;
	font-size: .9em;
	color: #3b3b3b;
}
.nav .nav span {
	margin: 0 5px 0 2px;
}
.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
	font-weight: bold;
	padding-left: 2em;
	border-left: 4px solid #F05A22;
	border-radius: 4px;
	background-color: rgba(59,59,59,.15);
}
.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
	display: none;
}
.final {
	margin-top: 3em;
}
.nav .back-top {
	color: #3b3b3b;
	font-weight: bold;
	margin-left: 1em;
}

/*=== Content ===*/
.ui-content-style {
	padding: 2em 2em 1em 4em;
}
.content-section {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.sub-section {
	padding: 2em 3em;
}
.modules {
	padding-top: 2em;
}
.principles {
	padding-top: 1em;
}
.text-principles {
	margin-top: -.5em;
}
.modules > .well {
	background-image: none;
	background-repeat: no-repeat;
	border-color: transparent;
	box-shadow: none;
	background-color: transparent;
}
.module-header {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 700;
	text-decoration: underline;
}
.code {
	padding: 2px 4px;
	font-size: 1em;
	color: #e94b10;
	background-color: #fce3da;
	border-radius: 4px;
	font-family: 'Quantico', sans-serif;
}
.header-black {
	font-weight: bold;
}
.panel-default > .panel-heading {
	color: #e94b10;
}
.panel-default > .panel-heading > .heading-text {
	color: #000;
	font-style: italic;
}
.code-samples {
	padding-bottom: 1em;
}
iframe {
	border-radius: 4px;
	border: 1px solid #fce3da;
}
pre {
	font-size: 1em;
	font-weight: bold;
}

/*==== TYPOGRAPHY ====*/

.font-weights {
	width: 100%;
	height: 10em;
}
.weight-sample {
	width: 20%;
	float: left;
	display: block;
	margin-right: 5%;
	border: 1px solid #fce3da;
	border-radius: 8px;
}
.big-letter{
	font-size: 6em;
}
.light {font-weight: 300;}
.normal {font-weight: 400;}
.medium {font-weight: 500;}
.bold {font-weight: 700;}
.text-size {margin-left: 1.5em;}

h1 .text-h1 {font-size: 2em;}
h2 .text-h2 {font-size: 1.5em;}
h3 .text-h3 {font-size: 1.25em;}
/*h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.25em;}*/

.text-x-huge {font-size: 2.5em;}
.text-huge {font-size: 1.875em;}
.text-xx-large {font-size: 1.4em;}
.text-x-large {font-size: 1.133em;}
.text-large {font-size: 1.1em;}
.text-xx-medium {font-size: 1.066em;}
.text-x-medium {font-size: 1em;}
.text-medium {font-size: .933em;}
.text-small {font-size: .9em;}
.text-x-small {font-size: .866em;}
.text-xx-small {font-size: .85em;}
.text-minimum {font-size: .8em;}
.text-x-minimum {font-size: .75em;}
.text-xx-minimum {font-size: .625em;}

/*==== HELPERS ====*/
.top-half-extra {margin-top: 2em;}
.top-extra {margin-top: 4em;}
.top-low {margin-top: 1.5em;}
.top-minimum {margin-top: 1em;}
.bottom-half-extra {margin-bottom: 1.5em;}
.top-up-double {margin-top: -2em;}
.top-up {margin-top: -1em;}
.top-up-quarter {margin-top: -.75em;}
.top-up-half {margin-top: -.5em;}
.left-one {margin-left: 2em;}