/*Primary colors*/
.c-primary {
    background-color: #f15a10;
}

.c-primary-hover {
    background-color: #c3480b;
}

.c-secondary {
    background-color: #0f6d95;
}

.c-secondary-hover {
    background-color: #0a4b67;
}

.c-neutral {
    background-color: #757575;
}

.c-neutral-hover {
    background-color: #5c5c5c;
}

.c-negative {
    background-color: #cb2540;
}

.c-negative-hover {
    background-color: #a01d32;
}

/*Secondary colors*/
.c-action-bar {
    background-color: #106d95;
}

.c-discovery-bar {
    background-color: #667076;
}

.c-focus-background {
    background-color: #2b84b1;
}

.c-focus-background-alt {
    background-color: #fcb700;
}

/*Text colors*/
.c-text {
    background-color: #333;
}

.c-text-white {
    background-color: #fff; 
}

.c-text-ctype {
    background-color: #878787;
}

.c-text-validation {
    background-color: #d92d42;
}

.c-hyperlink {
    background-color: #0645ad;
}

.c-breadcrumb {
    background-color: #0a4b67;
}

.c-breadcrumb-disabled {
    background-color: #6b6b6b;
}

.c-text-translation {
    background-color: #4b4b4b;
}

/*Background colors*/
.c-background {
    background-color: #fafafa; 
}

.c-background-header {
    background-color: #e7e7e7; 
}

.c-background-content {
    background-color: #f3f3f3; 
}

.c-background-section-main {
    background-color: #e3e3e3; 
}

.c-background-section {
    background-color: #dbdbdb; 
}

.c-background-fieldtype {
    background-color: #bbb;
}

.c-background-stu-actionbar {
    background-color: #ebebeb; 
}

.c-background-stu-landing {
    background-color: #969696;
}

.c-background-stu-timeline {
    background-color: #ccc;
}

.c-background-stu-timeline-line {
    background-color: #dedede; 
}

.c-background-table {
    background-color: #c2c2c2;
}

/*Notification colors*/
.c-feedback-positive {
    background-color: #00825c;
}

.c-feedback-processing {
    background-color: #f7d000;
}

.c-feedback-negative {
    background-color: #d6194a;
}
