@font-face {
    font-family: 'ez-icons';
    src:
        url('../fonts/ez-icons.ttf?nclra3') format('truetype'),
        url('../fonts/ez-icons.woff?nclra3') format('woff'),
        url('../fonts/ez-icons.svg?nclra3#ez-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ez-icon-"], [class*=" ez-icon-"] {
    font-family: 'ez-icons';
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icons sizes */
.ez-icon-x1 {
    font-size: 1em;
}

.ez-icon-x2 {
    font-size: 2em;
}

.ez-icon-x3 {
    font-size: 2.5em;
}

.ez-icon-x4 {
    font-size: 3em;
}

.ez-icon-x5 {
    font-size: 4em;
}

/*icons*/
.ez-icon-about:before {
    content: "\e900";
}

.ez-icon-airtime:before {
    content: "\e901";
}

.ez-icon-align-center:before {
    content: "\e902";
}

.ez-icon-align-justify:before {
    content: "\e903";
}

.ez-icon-align-left:before {
    content: "\e904";
}

.ez-icon-align-right:before {
    content: "\e905";
}

.ez-icon-article:before {
    content: "\e906";
}

.ez-icon-author:before {
    content: "\e907";
}

.ez-icon-banner:before {
    content: "\e908";
}

.ez-icon-blog-post:before {
    content: "\e909";
}

.ez-icon-blog:before {
    content: "\e90a";
}

.ez-icon-browse:before {
    content: "\e90b";
}

.ez-icon-bubbles:before {
    content: "\e90c";
}

.ez-icon-caret-back:before {
    content: "\e90d";
}

.ez-icon-caret-down:before {
    content: "\e90e";
}

.ez-icon-caret-next:before {
    content: "\e90f";
}

.ez-icon-caret-up:before {
    content: "\e910";
}

.ez-icon-category:before {
    content: "\e911";
}

.ez-icon-checkmark:before {
    content: "\e912";
}

.ez-icon-circle-caret-back:before {
    content: "\e913";
}

.ez-icon-circle-caret-close:before {
    content: "\e914";
}

.ez-icon-circle-caret-down:before {
    content: "\e915";
}

.ez-icon-circle-caret-next:before {
    content: "\e916";
}

.ez-icon-circle-caret-up:before {
    content: "\e917";
}

.ez-icon-circle-create:before {
    content: "\e918";
}

.ez-icon-clipboard:before {
    content: "\e919";
}

.ez-icon-comment:before {
    content: "\e91a";
}

.ez-icon-content-list:before {
    content: "\e91b";
}

.ez-icon-content-types:before {
    content: "\e91c";
}

.ez-icon-copy:before {
    content: "\e91d";
}

.ez-icon-create-content:before {
    content: "\e91e";
}

.ez-icon-create-landingpage:before {
    content: "\e91f";
}

.ez-icon-create:before {
    content: "\e920";
}

.ez-icon-dashboard:before {
    content: "\e921";
}

.ez-icon-discard:before {
    content: "\e922";
}

.ez-icon-download:before {
    content: "\e923";
}

.ez-icon-drag:before {
    content: "\e924";
}

.ez-icon-edit:before {
    content: "\e925";
}

.ez-icon-embed:before {
    content: "\e926";
}

.ez-icon-error:before {
    content: "\e927";
}

.ez-icon-file-text:before {
    content: "\e928";
}

.ez-icon-file-video:before {
    content: "\e929";
}

.ez-icon-file:before {
    content: "\e92a";
}

.ez-icon-filters:before {
    content: "\e92b";
}

.ez-icon-focus:before {
    content: "\e92c";
}

.ez-icon-folder:before {
    content: "\e92d";
}

.ez-icon-form-data:before {
    content: "\e92e";
}

.ez-icon-form:before {
    content: "\e92f";
}

.ez-icon-future-publication:before {
    content: "\e930";
}

.ez-icon-gallery:before {
    content: "\e931";
}

.ez-icon-global-content:before {
    content: "\e932";
}

.ez-icon-global-page:before {
    content: "\e933";
}

.ez-icon-global-performance:before {
    content: "\e934";
}

.ez-icon-home-page:before {
    content: "\e935";
}

.ez-icon-image:before {
    content: "\e936";
}

.ez-icon-information:before {
    content: "\e937";
}

.ez-icon-keywords:before {
    content: "\e938";
}

.ez-icon-landingpage:before {
    content: "\e939";
}

.ez-icon-languages:before {
    content: "\e93a";
}

.ez-icon-link-remove:before {
    content: "\e93b";
}

.ez-icon-link:before {
    content: "\e93c";
}

.ez-icon-lock:before {
    content: "\e93d";
}

.ez-icon-maform:before {
    content: "\e93e";
}

.ez-icon-media:before {
    content: "\e93f";
}

.ez-icon-menu:before {
    content: "\e940";
}

.ez-icon-merge:before {
    content: "\e941";
}

.ez-icon-move:before {
    content: "\e942";
}

.ez-icon-new-tab:before {
    content: "\e943";
}

.ez-icon-news:before {
    content: "\e944";
}

.ez-icon-notice:before {
    content: "\e945";
}

.ez-icon-oe-h1:before {
    content: "\e946";
}

.ez-icon-oe-list:before {
    content: "\e947";
}

.ez-icon-oe-paragraph:before {
    content: "\e948";
}

.ez-icon-options:before {
    content: "\e949";
}

.ez-icon-panel:before {
    content: "\e94a";
}

.ez-icon-pdf-file:before {
    content: "\e94b";
}

.ez-icon-personalize-block:before {
    content: "\e94c";
}

.ez-icon-personalize-content:before {
    content: "\e94d";
}

.ez-icon-pin-unpin:before {
    content: "\e94e";
}

.ez-icon-pin:before {
    content: "\e94f";
}

.ez-icon-place-list:before {
    content: "\e950";
}

.ez-icon-place:before {
    content: "\e951";
}

.ez-icon-portfolio:before {
    content: "\e952";
}

.ez-icon-product-list:before {
    content: "\e953";
}

.ez-icon-product:before {
    content: "\e954";
}

.ez-icon-publish-later-cancel:before {
    content: "\e955";
}

.ez-icon-publish-later:before {
    content: "\e956";
}

.ez-icon-publish:before {
    content: "\e957";
}

.ez-icon-recommended:before {
    content: "\e958";
}

.ez-icon-refresh:before {
    content: "\e959";
}

.ez-icon-relations:before {
    content: "\e95a";
}

.ez-icon-review:before {
    content: "\e95b";
}

.ez-icon-roles:before {
    content: "\e95c";
}

.ez-icon-rss:before {
    content: "\e95d";
}

.ez-icon-save:before {
    content: "\e95e";
}

.ez-icon-schedule:before {
    content: "\e95f";
}

.ez-icon-search:before {
    content: "\e960";
}

.ez-icon-sections:before {
    content: "\e961";
}

.ez-icon-settings-block:before {
    content: "\e962";
}

.ez-icon-shuffle:before {
    content: "\e963";
}

.ez-icon-loading:before {
    content: "\e964";
}

.ez-icon-square:before {
    content: "\e965";
}

.ez-icon-stats:before {
    content: "\e966";
}

.ez-icon-subscriber:before {
    content: "\e967";
}

.ez-icon-swap:before {
    content: "\e968";
}

.ez-icon-system-information:before {
    content: "\e969";
}

.ez-icon-tag:before {
    content: "\e96a";
}

.ez-icon-tags:before {
    content: "\e96b";
}

.ez-icon-translation:before {
    content: "\e96c";
}

.ez-icon-trash-empty:before {
    content: "\e96d";
}

.ez-icon-trash-send:before {
    content: "\e96e";
}

.ez-icon-trash:before {
    content: "\e96f";
}

.ez-icon-upload:before {
    content: "\e970";
}

.ez-icon-user:before {
    content: "\e971";
}

.ez-icon-users:before {
    content: "\e972";
}

.ez-icon-versions:before {
    content: "\e973";
}

.ez-icon-video:before {
    content: "\e974";
}

.ez-icon-view-custom:before {
    content: "\e975";
}

.ez-icon-view-desktop:before {
    content: "\e976";
}

.ez-icon-view-grid:before {
    content: "\e977";
}

.ez-icon-view-hide:before {
    content: "\e978";
}

.ez-icon-view-list:before {
    content: "\e979";
}

.ez-icon-view-mobile:before {
    content: "\e97a";
}

.ez-icon-view-tablet:before {
    content: "\e97b";
}

.ez-icon-view:before {
    content: "\e97c";
}

.ez-icon-wand:before {
    content: "\e97d";
}

.ez-icon-warning:before {
    content: "\e97e";
}

.ez-icon-wiki-file:before {
    content: "\e97f";
}

.ez-icon-wiki:before {
    content: "\e980";
}

/*Spinners*/
.ez-spin {
    animation: spin 1.75s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ez-icon-square {
    background-color: #fff;
}

.ez-square-clock {
    position: absolute;
    background-color: #f15922;
    z-index: 10;
    margin-top: .65em;
    margin-left: .65em;
    animation: clock 2s linear infinite;
}

@keyframes clock {
    0% {
        transform: rotate(0deg);
        background-color: #fff;
    }

    25% {
        transform: rotate(180deg);
        background: #fff;
    }

    50% {
        transform: rotate(180deg);
        background: #f15922;
    }

    75% {
        transform: rotate(360deg);
        background: #f15922;
    }

    100% {
        transform: rotate(360deg);
        background: #fff;
    }
}
