.c-primary {
    background-color: #f15a10;
}

.c-primary-hover {
    background-color: #c3480b;
}

.c-secondary {
    background-color: #0f6d95;
}

.c-secondary-hover {
    background-color: #0a4b67;
}

.c-neutral {
    background-color: #757575;
}

.c-neutral-hover {
    background-color: #5c5c5c;
}

.c-negative {
    background-color: #cb2540;
}

.c-negative-hover {
    background-color: #a01d32;
}

.c-text-base {
    background-color: #333;
}

.c-text-base-inverted {
    background-color: #fff; 
}

.c-text-hyperlink {
    background-color: #0645ad;
}

.c-text-error {
    background-color: #d92d42;
}

.c-text-base-pale {
    background-color: #878787;
}

.c-text-base-light {
    background-color: #6b6b6b;
}

.c-text-base-medium {
    background-color: #4b4b4b;
}

.c-text-base-deep {
    background-color: #0a4b67;
}

.c-ground-base {
    background-color: #fafafa; 
}

.c-ground-base-light {
    background-color: #f3f3f3; 
}

.c-ground-base-medium {
    background-color: #e5e3e3; 
}

.c-feedback-positive {
    background-color: #00825c;
}

.c-feedback-processing {
    background-color: #f7d000;
}

.c-feedback-negative {
    background-color: #d6194a;
}
